:root {
  --primary-color: #efceaa;
  --secondary-color: #fff2c5;
  --heading-font-family: "Source Code Pro", monospace;
  --paragraph-font-family: "Spline Sans Mono", monospace;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 40px;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 5rem;
  padding: 10px;
}

h2 {
  font-family: var(--paragraph-font-family);
  padding: 10px;
  font-size: 3.5rem;
}

p {
  font-size: 1.25rem;
  font-family: var(--paragraph-font-family);
}

.project-titel {
  font-family: var(--heading-font-family);
  font-size: 2rem;
}

.app-navigation {
  position: sticky;
  font-family: var(--heading-font-family);
}

.background-1 {
  background-color: var(--primary-color);
}

.background-2 {
  background-color: var(--secondary-color);
}

.project-card {
  box-shadow: 15px 22px 20px 0px rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
  transition: ease-out 0.2s;
  transform: scale(1);
  transform-origin: right;
  font-family: var(--paragraph-font-family);
}

.project-card:focus,
.project-card:visited,
.project-card:hover {
  color: black;
}

.project-card:hover,
.project-card:active {
  transform: scale(1.1);
  background-color: #eee;
}

.project-description {
  position: relative;
}

.project-description-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-media-icon {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding-right: 5px;
}

.social-media-icon:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.link-freepik {
  color: black;
  text-decoration: none;
}

.link-freepik:hover {
  color: var(--primary-color);
}

.techniques {
  color: var(--primary-color);
  font-weight: 700;
}

@media (max-width: 576px) {
  .coder-header-index {
    font-size: 3rem;
    text-align: left;
  }

  .sub-titel-index {
    text-align: left;
    font-size: 2rem;
  }

  .project-titel,
  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
    margin-top: 30px;
  }

  .header-about,
  h1 {
    font-size: 3rem;
  }

  .coder-about,
  h2 {
    font-size: 2rem;
  }

  .sub-titel-about,
  h3 {
    font-size: 1.25rem;
  }

  .hello-about-me,
  h3 {
    margin-top: 20px;
  }

  .link-freepik {
    color: var(--primary-color);
  }
}

@media (max-width: 768px) {
  .hello-about-me,
  h3 {
    margin-top: 30px;
  }
}
